@import "variables", "navbar", "forms";

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: $font-default;
  line-height: 1.5;
  font-weight: map-get($font-weights, regular);
  color: #213547;
}

body {
  margin: 0;
  min-height: 100vh;
  // background-color: cornflowerblue;
  overflow-x: hidden;
}

h1 {
  font-size: map-get($font-sizes, large);
  line-height: 1.1;
}

h2 {
  font-size: map-get($font-sizes, medium);
  line-height: 1.1;
}

p {
  font-size: map-get($font-sizes, regular);
}

.main {
  max-width: 1240px;
  margin: 8rem auto 4rem auto;
  min-height: 100vh;
  // background-color: chartreuse;
  padding: 0 5%;

  h1{
    margin-bottom: 20px;
  }

  h2{
    margin-bottom: 20px;
  }

  h4{
    margin-bottom: 30px;
    font-size: map-get($font-sizes, regular);
  }

  .repAnimal{
    font-family: $font-default;
    font-weight: map-get($font-weights, regular);
    color: $primary-color;
    text-decoration: none;
    background-color: $secondary-color;
    margin-bottom: 5px;
    width: 10vw;
    padding: 2px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .repAnimal:hover{
    color: $secondary-color;
    background-color: $primary-color;
  }

  .repThread{
    font-family: $font-default;
    font-weight: map-get($font-weights, regular);
    color: $primary-color;
    text-decoration: none;
    background-color: $secondary-color;
    margin-bottom: 5px;
    width: 30vw;
    padding: 2px;
    border-radius: 6px;
    display: flex;
    align-items: center;
  }

  .repThread:hover{
    color: $secondary-color;
    background-color: $primary-color;
  }
}

.LFAnimals {
  display: flex;
  gap: 10vw;
}

.actionButton {
  border: 2px solid $primary-color;
  @include buttonDesign($primary-color, $secondary-color);

  &:hover {
    background-color: rgb(198, 204, 209);
  }
}

.home-photos {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.home-photos img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}