@import "./style/variables", "./style/navbar", "./style/forms";

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: $font-default;
  line-height: 1.5;
  font-weight: map-get($font-weights, regular);
  color: #213547;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: cornflowerblue;
}

h1 {
  font-size: map-get($font-sizes, large);
  line-height: 1.1;
}

h2 {
  font-size: map-get($font-sizes, medium);
  line-height: 1.1;
}

p {
  font-size: map-get($font-sizes, regular);
}

.main {
  max-width: 1240px;
  margin: 4rem auto;
  min-height: 100vh;
  background-color: chartreuse;
  padding: 0 5%;
}
